---
layout: default
title: Home
---


<div class="home">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <div class="row center">
        <picture>
          <source srcset="/logo-mobile.png" media="(max-width: 900px)">
          <img src="/logo-mobile.png" alt="Code for Coffee Logo">
        </picture>
        {% assign headline_post = site.posts.first %}
        {% assign headline_content = headline_post.content %}
        {% include headline-post.html %}
      </div>
    </div>
  </div>

  <section class="container center">
    <div class="row">
      <h3 class="header center red-text text-darken-4">Older Posts</h3>
      {% for post in site.posts %}
      <li>
        <h6>
          <a class="header center red-text text-dark-3" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} on {{ post.date | date: "%b %-d, %Y" }}</a>
        </h6>
        <em> {{ post.description | date: "%b %-d, %Y" }}</em>
      </li>
      {% endfor %}
    </div>
  </section>
</div>
