<footer class="page-footer red darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">{{ site.title }}</h5>
        <p class="grey-text text-lighten-4"><em>Something witty & hip should go here.</em></p>
      </div>
      <div class="col l6 s12">
        <h5 class="white-text">Links and Social</h5>
        <ul>
          <li><a class="white-text" href="#!">Github</a></li>
          <li><a class="white-text" href="#!">Twitter</a></li>
          <li><a class="white-text" href="#!">Contact</a></li>
          <li><a class="white-text" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS Feed</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Questions? Comments? <a class="orange-text text-lighten-4" href="mailto:{{ site.email }}">Drop me a line</a>.
      Website designed using <a class="orange-text text-lighten-4" href="http://materializecss.com" target="_blank">Materialize</a>.
    </div>
  </div>
</footer>