---
layout: default
---
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <div class="row center">
      <picture>
        <source srcset="/logo-mobile.png" media="(max-width: 900px)">
        <img src="/logo-mobile.png" alt="Code for Coffee Logo">
      </picture>
      <h2 class="header center red-text text-darken-4">{{ page.title }}</h2>
      <em class="center">Posted on {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</em>
      <h6 class="header center red-text text-darken-3">{{ page.description }}</h6>
    </div>
    <div class="row center">
      {{ content }}
    </div>
  </div>
</div>